<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Flask Web App</title>
</head>
<body>
    <header>
        <h1>Placement Status Predictor</h1>
    </header>
    <main>
        <form method="post">
            
            <label for="gender">Gender</label>
            <select name="gender" id="gender" required>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select><br><br>
            
            <label for="sscp">SSC%</label>
            <input type="number" id="sscp" name="sscp" required><br><br>

            <label for="sscb">SSC_Marks</label>
            <select name="sscb" id="sscb" required>
                <option value="1">Central</option>
                <option value="0">Others</option>
            </select><br><br>

            <label for="hscp">HSC%</label>
            <input type="number" id="hscp" name="hscp" required><br><br>

            <label for="hscb">HSC_Marks</label>
            <select name="hscb" id="hscb" required>
                <option value="1">Central</option>
                <option value="0">Others</option>
            </select><br><br>
            
            <label for="hsca">HSC_Arts</label>
            <select name="hsca" id="hsca" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>

            <label for="hscs">HSC_Science</label>
            <select name="hscs" id="hscs" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>

            <label for="degp">Degree%</label>
            <input type="number" id="degp" name="degp" required><br><br>

            <label for="degts">Degree_Sci&Tech</label>
            <select name="degts" id="degts" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>

            <label for="degto">Other Degree</label>
            <select name="degto" id="degto" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>

            <label for="wex">Work Experience</label>
            <select name="wex" id="wex" required>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br><br>

            <label for="etest">ETest%</label>
            <input type="number" id="etest" name="etest" required><br><br>

            <label for="specs">Specialization</label>
            <select name="specs" id="specs" required>
                <option value="1">Done</option>
                <option value="0">Not Done</option>
            </select><br><br>

            <label for="mbap">MBA%</label>
            <input type="number" id="mbap" name="mbap" required><br><br>
            
            <input class="buttons" type="submit" value="Submit">
            <button class="buttons" type="reset">Reset</button>
        </form>
    </main>
</body>
</html>